$calendar-cell-size: 100px;
$calendar-cell-border: 1px solid #000;
$calendar-cell-font: Arial, sans-serif;
$calendar-cell-font-size: 30px;
$calendar-cell-background-color: #eee;
$calendar-hover-bg: #ffbfcb;
$calendar-hover-move: -20px;
$calendar-transition: 0.5s;
$calendar-gap: 1px;
$calendar-padding: 20px;
$calendar-max-width: ($calendar-cell-size * 7) + ($calendar-gap * 6);
$calendar-max-days: 31;
$start-days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
